@model PagedList.IPagedList<Desafio.Models.Medico>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Medicos";
}

<h2>Medicos</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>

@using (Html.BeginForm("Index","Medico", FormMethod.Get))
{
    <p>
        Procure por Nome: @Html.TextBox("procuraNome", ViewBag.CurrentFilter as string)
        <input type="submit" value="Procure" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            Sobrenome@*@Html.DisplayNameFor(model => model.Sobrenome)*@
        </th>
        <th>
           email @*@Html.DisplayNameFor(model => model.email)*@
        </th>
        <th>
           CRM @*@Html.DisplayNameFor(model => model.CRM)*@
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRM)
        </td>
        <td>
           [ @Html.ActionLink("Editar", "Edit", new { id=item.MedicoID }) ]
           [ @Html.ActionLink("Detalhes", "Details", new { id=item.MedicoID }) ]
           [ @Html.ActionLink("Delete", "Delete", new { id=item.MedicoID }) ]
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new {page, sortOrder = ViewBag.CurrentSort,currentFilter = ViewBag.CurrentFilter  }))
